.grid {
    grid-row-gap: 80px;
    grid-column-gap: 80px;
}

.grid.left {
    grid-template-columns: 1fr 2fr;
}

.grid.right {
    grid-template-columns: 2fr 1fr;
}

.section-wrap {
    margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
    .grid {
        grid-template-columns: 1fr !important;

        text-align: center;
    }

    .grid > .div-block {
        grid-row: 2;
        grid-column: 1;
    }

    .grid > img {
        grid-row: 1;
        grid-column: 1;
    }
}